git+https://github.com/AGrigis/pysphinxdoc.git
ipython
scikit-learn>=0.21.3
git+https://github.com/neurospin-deepinsight/dataify.git
git+https://github.com/neurospin-deepinsight/brainite.git
sphinx==3.5.4
